---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Formulario Recibido - CD Bustarviejo">
    <main class="mt-20 p-4 flex flex-col max-w-4xl mx-auto gap-8">
        <p>El formulario ha sido enviado correctamente</p>
        <a title="Enlace para volver a la página de inicio de la web" href="/" class="rounded p-2 bg-white text-slate-950 cursor-pointer hover:bg-bustar-orange-300 hover:transition-colors font-bold">Volver al incio</a>
    </main>
</Layout>

<style>
    main{
        height: 80vh;
        align-items: center;
        justify-content: center;
    }
</style>