---
import Main from '../components/main.astro';
import Layout from '../layouts/Layout.astro';
import Article from '../components/article.astro';
import Strong from '../components/strong.astro';
---

<Layout title="Inicio - CD Bustarviejo">
	<Main>
		<img class="h-auto w-full rounded-xl" src="1475859413.jpg" alt="Fotografía donde aparecen varios de los equipos al completo del CD Bustarviejo"/>
		<h1 class=" text-4xl font-bold text-bustar-orange-300 my-6">NUESTRO VALORES</h1>
		<h2 class="text-2xl font-bold text-slate-300 my-6">Un club abierto a todos y a todas</h2>
		<Article>
			<ul class="list-disc pl-12">
				<li>Un club <Strong>igualitario.</Strong></li>
				<li>No toleramos la violencia.</li>
				<li>El deporte por encima de la competición.</li>
				<li>Aprendemos <Strong>valores humanos.</Strong></li>
				<li>Somos un <Strong>equipo.</Strong></li>
				<li>Representamos la imagen de nuestro pueblo.</li>
			</ul>
		</Article>
		<hr>
		<h2 class="text-2xl font-bold text-slate-300 my-6">Al servicio del pueblo</h2>
		<Article>
			<ul class="list-disc pl-12">
				<li>Buscamos la <Strong>mayor variedad de ofertas deportivas</Strong> para ponerlas al servicio del pueblo.</li>
				<li>Siempre estamos <Strong>dispuestos a colaborar</Strong> en festejos, jornadas sociales y sinergias con otros pueblos o clubes deportivos.</li>
			</ul>
		</Article>
		<hr>
		<h2 class="text-2xl font-bold text-slate-300 my-6">Nuestos datos</h2>
		<Article>
			<img class="h-auto w-full rounded-xl" loading="lazy" src="datos-cdbustarviejo.webp" alt="datos estadísticos sobre la variabilidad cultural del club"/>
		</Article>
	</Main>
</Layout>