---
import Layout from "../layouts/Layout.astro";
import Main from "../components/main.astro";
import News from "../components/news.astro";
---

<Layout title="Noticias - CD Bustarviejo">
    <Main>
        <News url="/public/boletin-16.pdf" title="Boletín 16 / septiembre-diciembre 2023"/>
        <News url="/public/boletin-15.pdf" title="Boletín 15 / abril-junio 2023"/>
        <News url="/public/boletin-12.pdf" title="Boletín 12 / abril-junio 2022"/>
        <News url="/public/boletin-11.pdf" title="Boletín 11 / enero-marzo 2022"/>
    </Main>
</Layout>