---
import Main from "../components/main.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Patrocinios - CD Bustarviejo">
<Main>
    <h1 class="text-4xl font-bold text-bustar-orange-300 my-6">GRACIAS A NUESTROS PATROCINADORES</h1>
    <h2 class="text-2xl font-bold text-slate-300 my-6">Sin vosotros, nuestra aventura no sería posible</h2>
    <p class="my-6">Año tras año, con poco que ofreceros, apoyáis incondicionalmente este sueño.
        No tenemos palabras para agradeceros todo lo que nos dais y hacéis por nosotros.</p>
    <div class="grid grid-cols-3 gap-4">
    <img class="rounded-xl" width="272px" src="/public/alfer-gestion-pq.webp" alt="Alfer gestion logo" />
    <img class="rounded-xl" width="272px" src="/public/kiko.webp" alt="Kiko fisio logo" />
    <img class="rounded-xl" width="272px" src="/public/simply-pq.webp" alt="Mi Alcampo Bustarviejo logo" />
    <img class="rounded-xl" width="272px" src="/public/superchule-pq.webp" alt="Super chule, supermercado a domicilio logo" />
    <img class="rounded-xl" width="272px" src="/public/animaraida-pq.webp" alt="Animaraida logo" />
    <img class="rounded-xl" width="272px" src="/public/garaje.webp" alt="Bar el Garaje logo" />
    <img class="rounded-xl" width="272px" src="/public/ferreteria-pq.webp" alt="Ferretería Bustarviejo logo" />
    <img class="rounded-xl" width="272px" src="/public/panaderia-pq.webp" alt="Panificadora Bustarviejo logo" />
    <img class="rounded-xl" width="272px" src="/public/olfato.webp" alt="Centro Veterinario el olfato logo" />
</div>
</Main>
</Layout>