---
import Article from "./article.astro";
---

<footer class="pb-16 text-sm leading-6 mt-12">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8 flex flex-col sm:flex sm:flex-row pt-16 items-start justify-center sm:gap-8">
        <Article>
        <h4 class="font-bold">Temporadas anteriores</h4>
        <ul class="flex flex-col">
            <li><a title="Temporada 2019/2020" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://historico.cdbustarviejo.com/temporada-2019-20">Temporada 2019/20</a></li>
            <li><a title="Temporada 2018/2019" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://cdbustarviejo.wordpress.com/">Temporada 2018/19</a></li>
            <li><a title="Temporada 2016/2017" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://cdbustarviejo.wordpress.com/temporada-201617/">Temporada 2016/17</a></li>
            <li><a title="Temporada 2015/2016" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://cdbustarviejo.wordpress.com/temporada-201516/">Temporada 2015/16</a></li>
        </ul>
    </Article>
    <Article>
        <h4 class="font-bold">Información legal</h4>
        <ul class="flex flex-col">
            <li><a title="Avisos legales" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://www.cdbustarviejo.com/avisos-legales.html">Avisos legales</a></li>
            <li><a title="Política de privacidad" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://www.cdbustarviejo.com/politica-de-privacidad.html">Política de privacidad</a></li>
            <li><a title="Política de cookies" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://www.cdbustarviejo.com/politica-de-cookies.html">Política de cookies</a></li>
        </ul>
    </Article>
    <Article>
        <h4 class="font-bold">Contacto</h4>
        <ul class="flex flex-col">
            <li><a title="Dirección del CD Bustarviejo en Google Maps." class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://www.google.com/maps?z=16&q=plaza%2Bde%2Bla%2Bconstituci%C3%B3n,%2Bs/n%2Bbustarviejo%2B28720%2B-%2Bmadrid">Plaza de la Constitución, s/n
                Bustarviejo (MADRID) - 28720</a></li>
            <li><a title="Correo de contacto del CD Bustarviejo: c.d.bustarviejo@hotmail.es" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="mailto:c.d.bustarviejo@hotmail.es">c.d.bustarviejo@hotmail.com</a></li>
        </ul>
    </Article>
    <aside class="flex flex-col gap-4 mt-6">
        <div class="flex gap-4">
        <a title="Página de Twitter del CD Bustarviejo" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://twitter.com/CDBustarviejo" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-twitter" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z" /></svg></a>
        <a title="Página de Facebook del CD Bustarviejo" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://www.facebook.com/cdbustarviejo/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" /></svg></a>
        <a title="Página de Instagram del CD Bustarviejo" class="hover:text-bustar-orange-300 underline hover:transition-colors" href="https://www.instagram.com/cdbustarviejo/" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg></a>
    </div>
        <img width="50px" loading="lazy" src="/public/logo-cd-bustarviejo-cuadrado-xpeq.webp" alt="Escudo cd Bustarviejo"/>
    </aside>
    </div>
</footer>

<style>
    footer{
        background-color: #000101;
    }
</style>