---
import HeaderBtn from "./header-btn.astro";
---

<header class="flex justify-center items-center text-black font-bold text-lg fixed gap-8 top-0 p-4 w-full z-10 bg-bustar-orange-300">
    <span class="flex flex-row-reverse items-center gap-4">CD BUSTARVIEJO <img width="50px" src="https://www.cdbustarviejo.com/uploads/2/4/0/4/2404974/logo-cd-bustarviejo-cuadrado-xpeq.png" alt="Logo CD Bustarviejo"/></span>
    <HeaderBtn name="INICIO" destino="/" title="Páginas de inicio"/>
    <HeaderBtn name="PROYECTO" destino="/proyecto" title="Página de proyectos"/>
    <HeaderBtn name="SOCIOS" destino="/socios" title="Página de socios"/>
    <HeaderBtn name="PATROCINIO" destino="/patrocinio" title="Página de patrocinadores"/>
    <HeaderBtn name="NOTICIAS" destino="/noticias" title="Página de noticias"/>
</header>